html{
    text-align: center;
    background: #222;
    font-size: 40px;
    font-family: courier;
    overflow-x: hidden;
}
a:hover, a:link, a:visited, a:active{
    text-decoration: none;
    color: #000;
}
body{
    margin: 0;
}
h3{
    /*color: #B5BD68;*/
    /*color: #4271AE;*/
    color: #81A2BE;
    margin: 0;
    font-size: 30px;
    display: inline-block;
    margin: 0 0 10px 0;
}
#id_TitleWrap{
    background: #1D1F21;
    height: 100px;
    margin: 0;
    border-bottom: 1px solid #BBB;
}
#id_TitleHeading{
    font-size: 45px;
    color: #EFEFEF;
    display: inline-block;
    min-width: ;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.c_TagSpan{
    /*color: #C82829;*/
    color: #C66;
    font-family: courier;
}
#id_LineNumberOne{
    top: 50%;
    transform: translateY(-50%);
}
.c_LineNumber{
    font-size: 50px;
    display: inline-block;
    color: #EFEFEF;
    float: left;
    position: relative;
    left: 10px;
    font-family: courier;
}
#id_Blinker{
    color: #EFEFEF;
    display: inline-block;
    font-size: 50px;
    -webkit-animation: TextBlink 1s infinite;
}
@-webkit-keyframes TextBlink {
    0% { opacity: 1.0; }
    20% { opacity: 0.0; }
    40% { opacity: 0.0; }
    60% { opacity: 0.0; }
    80% { opacity: 1.0; }
    100% { opacity: 1.0; }
}

#id_ReturnButton{
    border-top-right-radius: 5px;
    border-top: 3px solid #8ABEB7;
    border-right: 3px solid #8ABEB7;
    background: #689C95;
    color: #282A2E;
    height: 40px;
    display: block;
    width: 120px;
    padding: 0;
    font-size: 20px;
    line-height: 40px;
    font-family: helvetica;
}
#id_ReturnButton:hover{
    border-top: 3px solid #8ABEB7;
    border-right: 3px solid #8ABEB7;
    background: #578B84;
    color: #EFEFEF;
}
.c_GeneralWrap{
    font-family: courier;
    min-width: 500px;
    width: 100%;
    margin: 0 0 20px 0;
}
#id_ImprovementsWrap{
    margin: 10px 0 0 0;
}
#id_ImprovementsTextWrap{
    width: 80%;
    display: inline-block;
    text-align: left;
}

img{
    width: 60%;
    margin: 10px auto;
    display: block;
}
#id_ImprovementsTextWrap div{
    text-align: center;
}
#id_ImprovementsTextWrap div h3{
    font-size: 20px;
    margin: 0 0 10px 0;
    color: #8ABEB7;
}