html{
    text-align: center;
    background: #222;
    font-size: 40px;
    font-family: courier;
    overflow-x: hidden;
}
a:hover, a:link, a:visited, a:active{
    text-decoration: none;
    color: #000;
}
body{
    margin: 0;
}
h3{
    /*color: #B5BD68;*/
    /*color: #4271AE;*/
    color: #81A2BE;
    margin: 0;
    font-size: 30px;
    display: inline-block;
}
#id_TitleWrap{
    background: #1D1F21;
    height: 100px;
    margin: 0;
    border-bottom: 1px solid #BBB;
}
#id_TitleHeading{
    font-size: 45px;
    color: #EFEFEF;
    display: inline-block;
    min-width: ;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.c_TagSpan{
    /*color: #C82829;*/
    color: #C66;
    font-family: courier;
}
#id_LineNumberOne{
    top: 50%;
    transform: translateY(-50%);
}
.c_LineNumber{
    font-size: 50px;
    display: inline-block;
    color: #EFEFEF;
    float: left;
    position: relative;
    left: 10px;
    font-family: courier;
}
#id_Blinker{
    color: #EFEFEF;
    display: inline-block;
    font-size: 50px;
    -webkit-animation: TextBlink 1s infinite;
}
@-webkit-keyframes TextBlink {
    0% { opacity: 1.0; }
    20% { opacity: 0.0; }
    40% { opacity: 0.0; }
    60% { opacity: 0.0; }
    80% { opacity: 1.0; }
    100% { opacity: 1.0; }
}

.c_GeneralWrap{
    font-family: courier;
    min-width: 500px;
    width: 100%;
    margin: 0 0 20px 0;
}
#id_BioWrap{
    margin-top: 40px;
}
#id_BioTextWrap{
    width: 80%;
    display: inline-block;
    text-align: left;
}
.c_SquareBrackets{
    color: #FFF;
}

.c_Href{
    color: #DE935F;
}
.c_TagLink{
    color: #B5BD68;
}
.c_LinkTextWrap > h3{
    color: #EFEFEF;
}
.c_LinkTextWrap{
    width: 80%;
    display: inline-block;
    text-align: left;
}
a > .c_TagLink:hover{
    color: #F0C674;
}